# Copy this file to /lib/systemd/system/ folder
[Unit]
Description=tbot

[Service]
Type=simple
User=root

Restart=on-failure
RestartSec=10

WorkingDirectory=/home/tommy/go/src/github.com/bot/myteambot
ExecStart=/home/tommy/go/src/github.com/bot/myteambot/tbot

[Install]
WantedBy=multi-user.target